
.board {
    flex: 1;
    display: flex;
    min-height: 500px;
    overflow-x: scroll;
    padding: 8px;
    justify-content: flex-start;

  .list-wrapper {
    display: flex;
    width:100vw;
    overflow-x: auto;
    overflow-y: auto;
    border: 1px solid green;
    .dragula_container{
      display: flex;
      width: 100vw;
      justify-content: space-between;
    }
  }

}

.board>* {
    margin-right: 8px;

  }

.trash-zone {
    position: absolute;
    right: 0;
    bottom: 0;
    text-align: right;
}

