
.board {
    flex: 1;
    display: flex;
    min-height: 500px;
    overflow-x: scroll;
    padding: 8px;
    justify-content: flex-start;
    flex-direction: column;
    justify-content: space-between;
    overflow-y: scroll;
    overflow-x: scroll;
    .list-wrapper{
      margin-top: 3em;
      display: flex;
      // justify-content: space-evenly;
      overflow-y: scroll;
      overflow-x: scroll;
      width: 100vw;
    }
}

.board>* {
    margin-right: 8px;
}



.trash-zone {
    position: absolute;
    right: 0;
    bottom: 0;
    text-align: right;
}

