<skyhook-preview [allBackends]="true">
  <ng-template let-type let-item="item">
      <ng-container [ngSwitch]="type">
          <app-card *ngSwitchCase="ItemTypes.CARD" [card]="item.data" [preview]="true">
          </app-card>
          <app-list *ngSwitchCase="ItemTypes.LIST" [list]="item.data" [preview]="true">
          </app-list>
      </ng-container>
  </ng-template>
</skyhook-preview>


<!-- <div class="board"> -->
<div class="add-new-list">
  <button class="btn btn-primary" (click)="openDialog()">
    Add New List
  </button>
</div>

<skyhook-sortable-list class="board"
[ssSortableListId]
[ssSortableChildren]="specs.lists"
[ssSortableSpec]="specs.boardSpec"
ssSortableTrigger="fixed"
[ssSortableHorizontal]="true"
>
  <ng-template ssTemplate let-context>
    <app-list
    [ssRender]="context"
    [list]="context.data"
    (addCard)="addCard(context.data.id, $event)"
    ></app-list>
  </ng-template>


</skyhook-sortable-list>

<!-- <div *ngIf="render; else  plain"
  class= "board"
  ssSortable
  [ssSortableSpec]="specs.boardSpec"
  [ssSortableListId]
  #clist="ssSortable"
  >
  <app-list
  *ngFor="let list of lists
  let i = index
  ";
  [list] = "list"
  [ssRender]="clist.contextFor(list, i)"
  #render="ssRender"
  [dragSource]="render.source"
  [noHTML5Preview]="true"
  [placeholder]="render.isDragging$|async"
  >
  </app-list>
</div>
<ng-template #plain>
  <div class="board">
    <app-list
    *ngFor="let list of lists; let i = index"
    [list]="list">

    </app-list>
  </div>
</ng-template> -->
