
.board {
    flex: 1;
    display: flex;
    min-height: 500px;
    overflow-x: scroll;
    padding: 8px;
    justify-content: flex-start;
}

.board>* {
    margin-right: 8px;
}

.trash-zone {
    position: absolute;
    right: 0;
    bottom: 0;
    text-align: right;
}

